@import "~antd/dist/antd.css";

.message-board {
  background-color: #f1f1f1;
  height: 600px;
  border: solid 1px #010101;
  overflow: auto;
}

.self-message-item-message:first-child {
  border: solid 1px #010101;
  background-color: #91ed61;
}
.message-item-message:last-child {
  border: solid 1px #010101;
  background-color: #ffffff;
}
.control-panel {
  border: solid 1px red;
}

.message-img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
